doctype html
html
	head

		link(rel="stylesheet", href="CSS/estilos.css")
	body
			header.bird-box
				.back-bird
				.logo
				.fore-bird

			section.content

				p  Lorem ipsum dolor sit amet, consectetur adipisicing elit. Laudantium rerum, dolores explicabo quas consequatur ex aliquid, eligendi ea ipsum, cumque ab quo excepturi quaerat sit eum neque alias cupiditate. Quae.
	script(src="JS/jquery.min.js")
	script(src="JS/codigo.js")